<html>
    
    <head>
        <title>Create an Account</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../script/validateLogin.js"></script>
        <script src="../script/roomData.js"></script>
        <script src="../script/calculateRankings.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="../View/index.html"">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-primary">Create an Account</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <fieldset>
                                <legend>Register for an Account:</legend>
                                <br>
                                <input type="hidden" name="submitted" id="submitted" value="1">
                                <label for="name">Your Full Name*:</label>
                                <br>
                                <input type="text" name="name" id="name" maxlength="20">
                                <br>
                                <br>
                                <label for="building">Building*:</label>
                                <br>
                                <input type="text" name="building" id="building" maxlength="20" >
                                <br>
                                <br>
                                <label for="username">UserName*:</label>
                                <br>
                                <input type="text" name="username" id="username" maxlength="20">
                                <br>
                                <br>
                                <label for="password">Password*:</label>
                                <br>
                                <input type="password" name="password" id="password" maxlength="20">
                                <br>
                                <br>
                                <input type="submit" name="Submit" value="Create" onclick="validateAccount()">
    
                            </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
