<div class="cover">
            <div class="cover-image" style="background-image: url(https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?q=75&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-primary">Welcome to the Roommate Application!&nbsp;</h1>
                        <br>
                        <br>
                    </div>
                    <form method="post" action="index.html">
                        <center>
                            <p>
                                <input type="text" name="login" placeholder="Username or Email">
                            </p>
                            <p>
                                <input type="password" name="password" placeholder="Password">
                            </p>
                            <p class="submit">
                                <input type="submit" value="Login" onclick="location.href='rankChores.html'">
                            </p>
                        </center>
                    </form>
                </div>
                <div class="login-help">
                    <center>
                        <p class="text-inverse">Don't have an account? &nbsp;Create one
                            <a href="createAccount.html">here</a>.</p>
                    </center>
                </div>
            </div>
        </div>
