<!--

-->

<html>
    
    <head>
        <title>rankChores</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../Scripts/userData.js"></script>
        <script src="../Scripts/generateChores.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <!-- <a href="../View/index.html">Home</a>
                            </li> -->
                            </li>
                            <li class="">
                                <a href="../View/rankChores.html">Chores</a>
                            </li>
                            <!-- <li class="">
                                <a href="#">Notifications</a>
                            </li>
                            <li class="">
                                <a href="#">Feedback</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-primary">Rank Your Chores
                            <br>
                            <br>
                            <small>Rank the difficulty of each chore from 1 to 5. If a chore is not necessary
                                for your living situation, please leave the check boxes for that chore
                                blank.</small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <legend>Take out Garbage and Recycling Bins:</legend>
                            <div id="difficultyLevels1">
                                <input type="radio" class="Take out Garbage and Recycling Bins" name="rank1" value="1"> 1
                                <input type="radio" class="Take out Garbage and Recycling Bins" name="rank1" value="2"> 2
                                <input type="radio" class="Take out Garbage and Recycling Bins" name="rank1" value="3"> 3
                                <input type="radio" class="Take out Garbage and Recycling Bins" name="rank1" value="4"> 4
                                <input type="radio" class="Take out Garbage and Recycling Bins" name="rank1" value="5"> 5</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Vacuum Common Areas:</legend>
                        <div id="difficultyLevels2">
                            <input type="radio" class="Vacuum Common Areas" name="rank2" value="1"> 1
                            <input type="radio" class="Vacuum Common Areas" name="rank2" value="2"> 2
                            <input type="radio" class="Vacuum Common Areas" name="rank2" value="3"> 3
                            <input type="radio" class="Vacuum Common Areas" name="rank2" value="4"> 4
                            <input type="radio" class="Vacuum Common Areas" name="rank2" value="5"> 5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Clean Bathroom (Scrub Toilet and Shower):</legend>
                        <div id="difficultyLevels3">
                            <input type="radio" class="Clean Bathroom (Scrub Toilet and Shower)" name="rank3" value="1"> 1
                            <input type="radio" class="Clean Bathroom (Scrub Toilet and Shower)" name="rank3" value="2"> 2
                            <input type="radio" class="Clean Bathroom (Scrub Toilet and Shower)" name="rank3" value="3"> 3
                            <input type="radio" class="Clean Bathroom (Scrub Toilet and Shower)" name="rank3" value="4"> 4
                            <input type="radio" class="Clean Bathroom (Scrub Toilet and Shower)" name="rank3" value="5"> 5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Clean Bathroom (Clean Sink, Countertop, and Mirror):</legend>
                        <div id="difficultyLevels4">
                            <input type="radio" class="Clean Bathroom (Clean Sink, Countertop, and Mirror)" name="rank4" value="1"> 1
                            <input type="radio" class="Clean Bathroom (Clean Sink, Countertop, and Mirror)" name="rank4" value="2"> 2
                            <input type="radio" class="Clean Bathroom (Clean Sink, Countertop, and Mirror)" name="rank4" value="3"> 3
                            <input type="radio" class="Clean Bathroom (Clean Sink, Countertop, and Mirror)" name="rank4" value="4"> 4
                            <input type="radio" class="Clean Bathroom (Clean Sink, Countertop, and Mirror)" name="rank4" value="5"> 5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Clean Kitchen (Clean countertop and stove):</legend>
                        <div id="difficultyLevels5">
                            <input type="radio" class="Clean Kitchen (Clean countertop and stove)" name="rank5" value="1"> 1
                            <input type="radio" class="Clean Kitchen (Clean countertop and stove)" name="rank5" value="2"> 2
                            <input type="radio" class="Clean Kitchen (Clean countertop and stove)" name="rank5" value="3"> 3
                            <input type="radio" class="Clean Kitchen (Clean countertop and stove)" name="rank5" value="4"> 4
                            <input type="radio" class="Clean Kitchen (Clean countertop and stove)" name="rank5" value="5"> 5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Clean Kitchen (Clear dining table and Wash Dishes):</legend>
                        <div id="difficultyLevels6">
                            <input type="radio" class="Clean Kitchen (Clear dining table and Wash Dishes)" name="rank6" value="1"> 1
                            <input type="radio" class="Clean Kitchen (Clear dining table and Wash Dishes)" name="rank6" value="2"> 2
                            <input type="radio" class="Clean Kitchen (Clear dining table and Wash Dishes)" name="rank6" value="3"> 3
                            <input type="radio" class="Clean Kitchen (Clear dining table and Wash Dishes)" name="rank6" value="4"> 4
                            <input type="radio" class="Clean Kitchen (Clear dining table and Wash Dishes)" name="rank6" value="5"> 5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Clean Refrigerator of Spoiled Food:</legend>
                        <div id="difficultyLevels7">
                            <input type="radio" class="Clean Refrigerator of Spoiled Food" name="rank7" value="1"> 1
                            <input type="radio" class="Clean Refrigerator of Spoiled Food" name="rank7" value="2"> 2
                            <input type="radio" class="Clean Refrigerator of Spoiled Food" name="rank7" value="3"> 3
                            <input type="radio" class="Clean Refrigerator of Spoiled Food" name="rank7" value="4"> 4
                            <input type="radio" class="Clean Refrigerator of Spoiled Food" name="rank7" value="5"> 5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Tidy up Common Area:</legend>
                        <div id="difficultyLevels8">
                            <input type="radio" class="Tidy up Common Area:" name="rank8" value="1"> 1
                            <input type="radio" class="Tidy up Common Area:" name="rank8" value="2"> 2
                            <input type="radio" class="Tidy up Common Area:" name="rank8" value="3"> 3
                            <input type="radio" class="Tidy up Common Area:" name="rank8" value="4"> 4
                            <input type="radio" class="Tidy up Common Area:" name="rank8" value="5"> 5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Mop Floors (Bathroom and Kitchen):</legend>
                        <div id="difficultyLevels9">
                            <input type="radio" class="Mop Floors (Bathroom and Kitchen)" name="rank9" value="1"> 1
                            <input type="radio" class="Mop Floors (Bathroom and Kitchen)" name="rank9" value="2"> 2
                            <input type="radio" class="Mop Floors (Bathroom and Kitchen)" name="rank9" value="3"> 3
                            <input type="radio" class="Mop Floors (Bathroom and Kitchen)" name="rank9" value="4"> 4
                            <input type="radio" class="Mop Floors (Bathroom and Kitchen)" name="rank9" value="5"> 5</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="submit">
                            <input type="submit" value="Submit rankings" onclick="assignChores()">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-primary">Your Assigned Chores for the Week</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                        class="center-block img-circle img-responsive">
                        <legend align="center">Roommate 1</legend>
                        <div class="container"></div>
                        <div class="col-md-12"></div>
                    </div>
                    <div class="col-md-6">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                        class="center-block img-circle img-responsive">
                        <legend align="center">Roommate 2</legend>
                        <div class="container"></div>
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
